<launch>
  <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
    <param name="~camera_info_url" value="package://crawler/camera_info/skycam.yaml"/>
    <param name="~camera_frame_id" value="skycam"/>
    <param name="~enable_raw" value="true"/>

    <param name="~camera_name" value="skycam"/>
    <param name="~width" value="1280"/>
    <param name="~height" value="960"/>
    <param name="~framerate" value="30"/>
  </node>

  <include file="$(find phidgets_imu)/launch/imu.launch"/>
</launch>
